* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #083042;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
      width: 80%;
      max-width: 930px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
}

#head {
      display: flex;
      flex-direction: row;
      align-items: center;
}

header {
      position: fixed;
      width: 100%;
      z-index: 1000;
      top: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      background-color: #041618;
      padding: 1.3em 0;
      transition: 0.4s;
}

.nav-bar {
      display: flex;
}

header ul {
      list-style: none;
}

.nav-bar a {
      font-size: 1.2rem;
      padding: 5px 10px;
      /* border-radius: 100px; */
      margin: 0 5px;
      font-weight: 600;
      font-family: 'Lato', sans-serif;
      cursor: pointer;
}

.logo {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
}

#logo_txt {
      text-align: center;
      font-family: 'Russo One', sans-serif;
      font-size: 2rem
}

#f {
      color: #3cdb83;
}

#s {
      color: #548ca4;
      padding-left: 5px;
      padding-right: 5px;
}

#th {
      color: #4484f3;
}


.nav-bar a:hover {
      color: #3cdb83;
}

.nav-bar a.active {
      color: #3cdb83;
      border-bottom: 2px solid #3cdb83;
}

#menu-icon {
      display: none;
      font-size: 22px;
      font-weight: 500n;
      cursor: pointer;
}

/* section {
      padding: 1rem 13%;
      margin: 6rem 0;
} */
.android-icon{
      margin-top: 6em;
}
.android-icon img {
      width: 120px;
      height: 80px;
      transform: rotate(180deg);
      
}

.home {
      display: flex;
      flex-direction: row;
      gap: 2em;
      justify-content: space-between;
      animation: fade-in-down 2s ease 1;

}

.margin {
      padding-top: 5em;
}

.homeTxt {
      display: flex;
      flex-direction: column;
      float: left;
}

.home-img {
      width: 320px;
      height: 320px;
}

.home-img img {
      width: 100%;
      border-radius: 50%;
      border: 5px solid transparent;
      background: linear-gradient(white, white) padding-box,
            linear-gradient(0deg, #083042 50%, #306acf 50%) border-box;
      border-image-slice: 1;
      box-shadow: 0 0 15px #3cdb83;
      transition: transform 0.7s ease-out;
      animation: fade-in-down 1s ease 1;
      float: right;
      animation: bordr 2s linear infinite;
}

@keyframes bordr {
      10% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(36deg, #083042 50%, #306acf 50%) border-box;
      }

      20% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(72deg, #083042 50%, #306acf 50%) border-box;
      }

      30% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(108deg, #083042 50%, #306acf 50%) border-box;
      }

      40% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(144deg, #083042 50%, #306acf 50%) border-box;
      }

      50% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(180deg, #083042 50%, #306acf 50%) border-box;
      }

      60% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(216deg, #083042 50%, #306acf 50%) border-box;
      }

      70% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(252deg, #083042 50%, #306acf 50%) border-box;
      }

      80% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(288deg, #083042 50%, #306acf 50%) border-box;
      }

      90% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(324deg, #083042 50%, #306acf 50%) border-box;
      }

      100% {
            background: linear-gradient(white, white) padding-box,
                  linear-gradient(360deg, #083042 50%, #306acf 50%) border-box;
      }

}

@keyframes animate {}

.home-img img:hover {
      transform: scale(1.1);
}

#droid {
      font-size: 1.5rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #3cdb83;
      text-shadow: 0 7px 10px #041618;
}


#greet {
      font-size: 1.5rem;
      margin-bottom: 0.5em;
}

#name {
      font-size: 2.5rem;
      margin-bottom: 1rem;
}

#dev {
      font-size: 1.2rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #4484f3;

}

#open {
      color: #3cdb83;
}

#divider {
      color: #548ca4;
}

#closed {
      color: #4484f3;
}

.home h2 {
      margin-bottom: 3.5rem;
      font-size: 1.2rem;
}

.nav-bar a {
      text-decoration: none;
      color: white;
}

.home a {
      text-decoration: none;
}

.btn {
      padding: 0.5em 1em;
      border: 2px solid #3cdb83;
      border-radius: 20px;
      color: #34bc6c;
      font-weight: 600;
      transition: 0.5s ease-in-out;
      box-shadow: 0 5px 18px #041618;
      font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.btn:hover {
      background-color: #3cdb83;
      transform: scale(1.1);
      box-shadow: 0 3px 10px #3cdb83;
      color: #083042;
}

.social {
      margin-top: 2em;
}

.social a {
      text-align: center;
      margin-right: 0.5em;
}

.social .fa {
      padding: 0.5em;
      color: #34bc6c;
      border-radius: 60%;
      text-align: center;
      border: 2px solid #3cdb83;
      transition: all 0.3s ease;
      box-shadow: 0 5px 15px #041618;
}

.social .fa:hover {
      background-color: #3cdb83;
      color: #083042;
      transform: scale(1.1);
      box-shadow: 0 1px 5px #3cdb83;
}


.about_container {
      padding-top: 5em;
      display: flex;
      justify-content: space-between;
      align-items: initial;
      gap: 1em;
      margin-bottom: 4rem;
      animation: fade-in-down 2s ease 1;
}

.about-img {
      margin-top: 5rem;
      border: 5px solid #548ca4;
      border-radius: 3%;
      width: 40%;
      background: url("image/about_me_img.jpg");
      background-repeat: no-repeat;
      background-size: cover;
}


.about-txt {
      width: 50%;
}

@media (max-width:980px) {
      .about_container {
            flex-direction: column-reverse;
            align-items: center;
            justify-content: center;
            justify-content: center;
      }

      .about-img {
            margin-top: 10px;
            width: 300px;
            height: 350px;
      }

      .about-txt {
            width: 100%;
      }
}

@media (max-width:920px) {
      .home {
            /* margin-top: -5em; */
            flex-direction: column;
      }

      .home-img {
            align-self: center
      }

      .about-txt {
            width: 100%;
      }

      #menu-icon {
            display: block;
      }

      .nav {
            position: absolute;
            top: 100%;
            right: -100%;
            width: 60%;
            height: 100vh;
            background-color: #548ca4;
            transition: all 0.5s ease;
      }

      .nav-bar {
            margin-top: 1em;
            display: flex;
            flex-direction: column;
            gap: 2em;
            align-items: center;
            justify-content: flex-start;
            /* transition: all 0.5s ease; */
      }

      .nav.open {
            right: 0;
      }
}

#about-heading {
      text-align: center;
      margin-bottom: 1em;
      font-size: 2rem;
}

#me {
      color: #4484f3;
}

#intro {
      font-size: 1rem;
}

#intro-sub-heading {
      font-size: 0.7rem;
      font-weight: bold;
      color: #548ca4;
      margin-bottom: 2em;
}

span {
      font-weight: 600;
}

#about-paragraph {
      font-size: 0.99rem;
      margin-bottom: 1em;
}

#user-icon {
      color: #34bc6c;
}

.about-details {
      margin-bottom: 1em;
      font-size: 0.5rem;
}

.about-text #about-heading {
      text-align: start;
}

.about-details li {
      font-size: 0.9rem;
      margin-bottom: 0.9rem;
}

#same {
      color: #34bc6c;
}

.about a {
      text-decoration: none;
      font-size: 1rem;
      font-weight: 600;
      color: #083042;
}

.btn-linkedin {
      padding: 0.3em 1em;
      background-color: #34bc6c;
      border-radius: 3px;
      box-shadow: 0 2px 5px #041618;
      cursor: pointer;
      font-size: 1rem;
}

.btn-linkedin .fa {
      margin-left: 0.5em;
      font-size: 1rem;
      font-weight: 600;
}

.btn-linkedin:hover {
      background-color: #3cdb83;
      box-shadow: 0 2px 5px #3cdb83;
}

#and {
      color: #80ceef;
}

#able {
      color: #3cdb83;
}

.timeline-section {
      margin-bottom: 2rem;
}

.timeline-section h1 {
      text-align: center;
      color: #80ceef;
      margin-bottom: 2rem;
}

.timeline-items {
      max-width: 1000px;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      position: relative;
}

.timeline-items::before {
      content: '';
      position: absolute;
      width: 2px;
      height: 100%;
      background-color: #3cdb83;
      left: calc(50% - 1px);
}

.timeline-item {
      margin-bottom: 40px;
      width: 100%;
      position: relative;
}

.timeline-item:last-child {
      margin-bottom: 0;
}

.timeline-item:nth-child(odd) {
      padding-right: calc(50% + 30px);
      text-align: right;
}

.timeline-item:nth-child(even) {
      padding-left: calc(50% + 30px);
}

.timeline-dot {
      height: 50px;
      width: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #d7f1ff;
      position: absolute;
      left: calc(50% - 25px);
      border-radius: 50%;
      top: 10px;
      overflow: hidden;
}

.timeline-dot img {
      width: 100%;
      height: auto;
}

.timeline-dot #cimg2 {
      width: 90%;
}

.timeline-date {
      font-size: 18px;
      font-weight: 500;
      color: #34bc6c;
      margin: 6px 0 15px;
}

.timeline-content {
      background-image: linear-gradient(to right bottom, #3cdb84, #00bc94, #009a96, #007988, #00586d, #00526c, #004c6a, #004568, #005586, #0064a6, #1f72c6, #4180e5);
      padding: 30px;
      border-radius: 5px;
}

.timeline-content h3 {
      font-size: 20px;
      color: #ffffff;
      margin: 0 0 10px;
      text-transform: capitalize;
      font-weight: 500;
}

.timeline-content p {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      margin-top: 0.5rem;
      color: #d7f1ff;
      font-size: 0.9em;
      font-weight: 300;
      line-height: 22px;
}

/* responsive */
@media(max-width: 767px) {
      .timeline-items::before {
            left: 7px;
      }

      .timeline-item:nth-child(odd) {
            padding-right: 0;
            text-align: left;
      }

      .timeline-item:nth-child(odd),
      .timeline-item:nth-child(even) {
            padding-left: 37px;
      }

      .timeline-dot {
            left: -18px;
      }
}

.skills {
      text-align: center;
      background-color: #4484f3;
      padding-bottom: 5em;
      margin-bottom: 0;
      align-items: center;
      animation: fade-in-down 2s ease 1;
      padding-top: 5em;
}

.skills-div {
      padding: 1rem;
      background-color: #194083;
      border-radius: 10px;
      display: grid;
      grid-template-columns: repeat(4, 0.5fr);
      margin-bottom: 1.em;
}

#about-heading .fa {
      color: #3cdb83;
      font-size: 2rem;
      font-weight: 800;
}

.skills-div .img {
      border-radius: 5%;
      background-color: #000817;
      padding: 1em 1em;
      padding-bottom: 1em;
      margin: 1em;
      text-align: center;
      transition: transform 0.5s ease;
      box-shadow: 0 5px 15px #083042;
}

.skills-div img {
      /* background-color: #041618; */
      height: 60%;
      width: 60%;

}

/* .skills-div .img h4 {
      margin-bottom: 0.5em;
} */

.skills-div .img:hover {
      transform: scale(1.1);
}

@media (max-width:800px) {
      .skills-div {
            grid-template-columns: repeat(3, 0.5fr);
      }
}

@media (max-width:630px) {
      .skills-div {
            grid-template-columns: repeat(2, 0.5fr);
      }
}

.projects {
      padding-top: 5em;
      text-align: center;
      padding-bottom: 5em;
      align-items: center;
      margin-bottom: 0;
      animation: fade-in-down 2s ease 1;
}

.pj-div-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
}

@media (max-width:750px) {
      .pj-div-container {
            display: grid;
            grid-template-columns: repeat(1, 1fr);

      }
}

.pj-div {
      border-radius: 0.5em;
      background-color: #80ceef;
      margin: 1em 1em;
      padding: 0.5em 0.5em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-shadow: 0 5px 15px #000817;
      transition: transform 0.5s ease;
}

.pj-div:hover {
      transform: scale(1.02);
}

.pj-div .fa {
      color: #083042;
      font-size: 1.5em;
      float: right;
      cursor: pointer;
}

.pj-div .fa:hover {
      color: #000817;
}

.pj-main {
      color: #000817;
      display: flex;
      flex-direction: column;
      align-items: center;
}

.pj-main .pj-head {
      font-size: 1.5em;
      font-weight: bold;
      padding-bottom: 0.2em;

}

#line {
      width: 20%;
      height: 3px;
      background-color: #02567dd8;
      margin-bottom: 1em;
      border-radius: 8px;
}

#pr-1 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/pen-tablet.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

#pr-2 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/shopping-list.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

#pr-3 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/bmi.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

#pr-4 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/logo_imagetotext.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

#pr-5 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/numbers.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

#pr-6 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/logo.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

#pr-7 {
      width: 120px;
      height: 120px;
      border-radius: 60px;
      align-items: center;
      background-image: url("image/logo\ \(1\).png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      background-color: rgba(124, 136, 130, 0.337);
}

.more {
      text-align: center;
      margin-top: 2em;
}

.more a {
      list-style: none;
      text-decoration: none;
      color: #34bc6c;
      font-size: 1rem;
      font-weight: 600;
}

.more a:hover {
      color: #3cdb83;
}

.pj-lang-tools {
      padding: 1em;
      text-align: center;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.view .fa {
      color: #083042;
      cursor: pointer;
}

.view .fa:hover {
      color: #000817;
}

.education {
      padding-top: 5em;
      text-align: center;
      padding-bottom: 5em;
      margin-bottom: 1em;
      background-color: #548ca4;
      animation: fade-in-down 2s ease 1;
}

#edu {
      color: #083042;
}

.education-list {
      display: grid;
      grid-template-columns: repeat(1, 1fr);

}

.edu-sub-list {
      border-radius: 0.3em;
      background-color: #bde2f7;
      margin: 1em 1em;
      display: flex;
      flex-direction: row;
      padding: 1em;
      align-items: center;
      box-shadow: 0 3px 7px rgba(0, 0, 0, 0.874);
      transition: transform 0.5s ease;
      color: rgba(210, 209, 209, 0.544);
}

.bg-image {
      margin-left: 2em;
      width: 220px;
      height: 220px;
      border-radius: 50%;
      object-fit: fill;
      margin-right: 2em;
}

#img1 {
      background: url("image/rcciit.png");
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

#img2 {
      background: url("image/ksshs.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

#img3 {
      background: url("image/gkkhs.jpg");
      background-repeat: no-repeat;
      background-size: 100% 100%;
}

.edu-txt {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 1em 0;
      color: black;
}

.ed-discuss {
      text-align: start;
}

.class-head {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.2em;
      font-weight: 600;
      color: #083042;
      margin-bottom: 1em;
}

.ed-discuss {
      margin-bottom: 1em;
}

.ed-discuss p {
      margin-bottom: 0.5em;
}

.edu-status {
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-size: 1.1rem;
      color: #037940;
      font-weight: bold;
}

@media (max-width:950px) {
      .edu-sub-list {
            flex-direction: column;
            /* align-items: flex-start; */
      }

      /* .bg-image{
            align-self: center;
      }
      .edu-txt {
            margin-left: 2em;
      } */
}

footer {
      width: 90%;
      max-width: 930px;
      margin: auto;
      display: flex;
      gap: 3em;
      justify-content: space-between;
      animation: fade-in-down 2s ease 1;

}

.ft-heading,
.contact-head {
      font-size: 1.5rem;
      color: white;
}

.ft-txt p {
      margin-top: 1em;
      font-size: 0.9rem;
      color: whitesmoke;
}

.ph,
.email,
.address {
      margin-top: 0.5em;
      font-size: 0.9rem;
      color: whitesmoke;
}

.contact .fa {
      margin-right: 0.5em;
      color: #34bc6c;
}

.social-icon .fa {
      margin-top: 0.5em;
      padding: 0.5em;
      background-color: whitesmoke;
      border-radius: 2em;
      color: #083042;
}

.social-icon .fa:hover {
      background-color: white;
      color: #000817;
}

.foot {
      text-align: center;
      padding-bottom: 1em;
}

#cd {
      font-size: 1rem;
      font-weight: normal;
      color: #34bc6c;
}

.h-line {
      margin: 0.6em 2em;
      background-color: rgba(240, 248, 255, 0.501);
      height: 0.1em;
}

@keyframes fade-in-down {
      0% {
            opacity: 0;
            transform: translateY(-20px);
      }

      100% {
            opacity: 1;
            transform: translateY(0);
      }
}

@media (max-width:630px) {
      footer {
            padding: 1em 10%;
            display: flex;
            flex-direction: column;

      }
}
